.container{
    display: grid;
    grid-template-columns: 600px 380px;
    align-content: center;
    justify-content: center;
    height: 705px;
    background-color: rgb(240, 240, 248);
    
}
.hr hr{
   color:  rgb(216, 208, 208);
}
.grid-1{
    display: grid;
    align-content: center;
    justify-content: start;
}
h2{
    color: rgb(0, 106, 245);
    font-size: 400%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900%;
    margin: 0;
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 150;
}
.grid-2{
    display: grid;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px ;
}
#Username{
    border-radius: 5px;
    height: 40px;
    width: 98%;
    border: 1px solid rgb(212, 208, 208);
    padding: 3px;
    margin-bottom: 10px;
    outline: none;
    transition: 0.5s;
    padding-left: 10px;
}
#Username:focus{
    border: 1px solid rgb(0, 106, 245);
}
#Username::placeholder{
    font-size:larger;
    color: rgb(170, 165, 165);
}
#Password{
    border-radius: 5px;
    height: 40px;
    width: 98%;
    border: 1px solid rgb(212, 208, 208);
    padding: 3px;
    margin-bottom: 20px;
    outline: none;
    transition: 0.5s;
    padding-left: 10px;
}
#Password:focus{
    border: 1px solid rgb(0, 106, 245);
}
#Password::placeholder{
    font-size:larger;
    color: rgb(170, 165, 165);
}
#login{
    background-color: rgb(0, 106, 245);
    font-size: large;
    text-align: center;
    border-radius: 7px;
    width: 100%;
    margin-bottom: 20px;
    height:45px;
    border: 1px solid rgb(0, 106, 245);
    color: #fff;
}
.forgot a{
    text-decoration: none;
    color: rgb(0, 106, 245);
}
.forgot a:hover{
    text-decoration: underline;
}
.forgot{
    display: grid;
    justify-content: center;
    margin-bottom: 20px;
}

.hr{
    margin-bottom: 20px;
}
.phone{
    display:grid;
    grid-template-columns: 55% 3% 60%;
    display:none;
}
.line-left{
    margin-top:20px;
    margin-right:5px
}
.line-right{
    margin-top:20px;
    margin-left:25px;
}
#create{
    background-color: rgb(44, 177, 32);
    border-radius: 7px;
    font-size: medium;
    font-weight: bold;
    height: 50px;
    width: 100%;
    border: 1px solid rgb(44, 177, 32);
    color: #fff;
}
#create a{
    text-decoration: none;
    color: #fff;
}
.create{
    display: grid;
    justify-content: center;
    margin-bottom: 20px;
}
.page{
    display: grid;
    justify-content: center;
}
.page a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.page a:hover{
    text-decoration: underline;
}
.lang p{
    color: rgb(34, 31, 31);
    font-size: small;
}
.lang{
    display: grid;
    width: 60%;
    margin:1px auto 1px auto;
}
.forphone{
    display: none;
}

/*for medium phones and potrait tablets*/
@media only screen and (max-width:600px){
    .container{
        display: inline-block;
        height:100%;
        background-color: #fff;
        align-items:center;
        justify-items:center;
        margin-left:10px;
       
    }
    h2{
        font-size:250%;
        margin-left: 74px;
        margin-bottom:12px;
    }
    h3{
       font-size: smaller;
        margin-left: 50px;
        display:none;
    }
    #Username{
        width: 120%;
        margin-right:6px;
        height:45px;
        background-color:rgb(237, 240, 243);
    }
    #Password{
        width: 120%;
        height:45px;
        margin-bottom:12px;
         background-color:rgb(237, 240, 243)
    }
    #login{
        width: 125%;
        margin-left:px;
        height:55px;
        margin-bottom: 10px;
    }
    .forgot{
        margin-bottom: 10px
    }
    .forgot a{
        margin-left:20px;
        margin-left: 70px;
    }
    .hr{
        margin-top:opx;
        margin-bottom: 10px;
        margin-left: 20px;
        display:none;
    }
    #create{
        width: 75%;
        margin-left: 60px;
        height:45px;
        margin-bottom: 8px;
    }
    .lang{
        display:none;
    }
    .page p{
        font-size: small;
        margin-left: 30px;
    }
    .phone{
        display: contents;
        display:grid;
        width:100%;
    }
    .phone p{
        color:rgb(128 132 140);
    }
    .line-left{
        margin-right:5px;
    }
    .line-right{
        margin-left:35px;
    }
    .page{
        display:none;
    }
    .forphone{
        display:contents;
        display:grid;
       display:inline-block
    }
    .forphone p{
        color:rgb(128 132 140);
    }
    .leftside{
        float:left;
        margin-left:30px;
    }
    .rightside{
        float:right;
        margin-left:120px;
        margin-bottom:30px;
    }
    .others{
        display:grid;
        margin-top: 100px;
        width:190%;
        margin-left:100px
    }
    .others p{
        margin-bottom:1px;
        color:rgb(128 132 140);
    }

}

@media only screen and (min-width:600px){
    .container{
        display:inline-block;
        width:100%;
    }
    .grid-1{
        display:grid;
        justify-content:center;
    }
    .above-grid-2{
        display:grid;
        justify-content:center;
    }
    .grid-2{
        width:350px;
    }
    .lang{
        width:90%;
    }
}

@media only screen and (min-width:1090px){
    .container{
        display: grid;
    grid-template-columns: 600px 380px;
        grid-gap:100px;
    }
    .grid-1{
        height:250px;
        margin-right: 151px;
    }
    .lang{
        width:55%;
    }
    
}